.home {
	max-width: 54rem;
	margin: 0 auto;
	padding: 0 2rem 3rem;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 1.5rem;
}

.home-head h1 {
	font-size: 5rem;
	margin-bottom: -1rem;
}

.home-head h2 {
	font-size: 3.375rem;
	margin-bottom: 1.5rem;
}

.home-head p,
.home-tail p {
	font-size: 1.125rem;
	line-height: 1.8em;
	letter-spacing: 0.004em;
	margin-bottom: 1.5rem;
}

.home-head {
	margin-top: 7.5rem;
	grid-column: 1 / 5;
}

.home-tail {
	margin-top: 4.5rem;
	grid-column: 1 / 5;
}

.home-gallery {
	display: contents;
}

.home-img {
	z-index: -2;
	transition: opacity 0.3s ease;
}

.home.is-loading .home-img {
	opacity: 0;
}

.home-img:nth-of-type(1) {
	margin-top: 18rem;
	grid-column: 5 / 9;
	grid-row: 1 / span 2;
	height: 37.5rem;
	transition-delay: 100ms;
}

.home-img:nth-of-type(2) {
	grid-column: 2 / 6;
	grid-row: 2 / span 2;
	z-index: -1;
	transition-delay: 200ms;
}

.home-img:nth-of-type(3) {
	grid-column: 5 / 8;
	grid-row: 3 / span 2;
	margin-top: 6.25rem;
	transition-delay: 300ms;
}

.home-img:nth-of-type(4) {
	grid-column: 1 / 5;
	grid-row: 4 / span 2;
	margin-top: 6.25rem;
	transition-delay: 400ms;
}

.home-img:nth-of-type(5) {
	grid-column: 4 / 9;
	grid-row: 4 / span 2;
	margin-top: 12.5rem;
	transition-delay: 500ms;
}

.home-features {
	grid-column: span 6;
	margin: 5rem 0;
}

.features-list {
	list-style-type: none;
	padding: 0;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fill, 120px);
	column-gap: 3rem;
	row-gap: 2rem;
	margin-top: 3.375rem;
}

.features-list li {
	position: relative;
}

.features-list img {
	filter: grayscale(1);
	transition: all 0.2s ease;
}

.features-list li:hover img {
	filter: grayscale(0);
}

@media (max-width: 860px) {
	.home {
		max-width: 100%;
		grid-template-columns: repeat(4, 1fr);
		padding: 0 0 3rem;
		column-gap: 0;
	}

	.home-head,
	.home-tail {
		grid-column: 1 / span 4;
		padding: 0 2rem;
	}

	.home-head p,
	.home-tail p {
		max-width: 36ch;
	}

	.home-img:nth-of-type(1) {
		margin-top: 10rem;
		grid-column: 2 / span 4;
		grid-row: 2 / span 2;
		height: 30rem;
	}

	.home-img:nth-of-type(2) {
		grid-column: 1 / span 2;
		grid-row: 3 / span 2;
		z-index: 2;
	}

	.home-img:nth-of-type(3) {
		grid-column: 3 / span 2;
		grid-row: 4 / span 1;
		margin: 0;
	}

	.home-img:nth-of-type(4) {
		grid-column: 1 / span 3;
		grid-row: 5 / span 3;
		margin: 0;
	}

	.home-img:nth-of-type(5) {
		grid-column: 2 / span 3;
		grid-row: 7;
		margin-bottom: 4rem;
	}

	.features-list {
		column-gap: 2rem;
	}

	.home-features {
		padding: 0 2rem;
	}

	.features-list img {
		filter: grayscale(1) blur(2px);
	}
}
